# compose env file
COMPOSE_PROJECT_NAME="task-agent-dev"

# base container config
TZ=Asia/Vladivostok
MIRROR_LIST_COUNTRY=DE
DOCKER_PLATFORM=linux/amd64

# Container user
DOCKER_HOST_UID=1000
DOCKER_HOST_GID=1000
DOCKER_USER=developer
DOCKER_USER_HOME=/home/developer
PYTHONUNBUFFERED=1

# Host workspace
WORK_ROOT=${HOME}/git

# CoC extensions
COC_EXTENSIONS='coc-pyright coc-json coc-yaml coc-snippets coc-markdownlint'

# Agent toolbox packages
BUILD_PACKAGES='uv
git
git-lfs
less
gnupg
sudo
postgresql-libs
mariadb-libs
openmp
python
vim
vim-spell-en
vim-spell-ru
ctags
ripgrep
bat
npm
nodejs-lts-krypton
openai-codex
gemini-cli
tmux
jq
yq
fd
fzf
tree
openssh
rsync
lsof
shellcheck
zsh
zsh-completions
eza
bind
shfmt'
